* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.75em;
}

.food-section {
    background-color: lightgray;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    padding-top: 40px;
    position: relative;
}

.food-title {
    top: 0;
    right: 0;
    width: auto;
    padding: 5px;
    position: absolute;
    border: 1px solid black;
    font-size: 1.25em;
    color: white;
}

.ratatouille {
    background-color: red;
}

.soya-chaap-biryani {
    background-color: orange;
}

.sev-puri {
    background-color: maroon;
}

.food-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .food-section {
        float: left;
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .food-section {
        float: left;
    }
    .sev-puri .soya-chaap-biryani {
        width: calc(50% - 20px);
    }
    .ratatouille {
        width: calc(100% - 20px);
    }
}

@media (max-width: 767px) {
    .food-section {
        float: none;
        width: calc(100% - 20px);
    }
}